<%= render 'shared/navbar' %>

<div class="home-static">
    <%= button_to root_path, method: :get, class: 'btn-home-go act' do %>
      <%= image_tag 'arrowleft.png', alt: 'arrow-left', class: 'icone' %>
      Back to Home
    <% end %>
</div>

<h2>Credit</h2>

<p>Toutes les images de ce site sont la propriété de CoinTribe, sauf celles des liens suivants :
  <ul>
    
  </ul>
</p>

<div class="home-static">
    <%= button_to root_path, method: :get, class: 'btn-home-go act' do %>
      <%= image_tag 'arrowleft.png', alt: 'arrow-left', class: 'icone' %>
      Back to Home
    <% end %>
</div>
