<%= render 'shared/navbar' %>

<div class="home-static">
    <%= button_to root_path, method: :get, class: 'btn-home-go act' do %>
      <%= image_tag 'arrowleft.png', alt: 'arrow-left', class: 'icone' %>
      Back to Home
    <% end %>
</div>

<div class="container-credit">
<h2>Credit</h2>

<p>All images on this site are the property of CoinTribe, except for those from the following links:</p>
<ul>
<li><%= link_to 'alert', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'arrow', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'close', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'comment', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'delete', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'edit', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'favorites', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'mail', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'pseudo', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'notif', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'profil', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'send', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'setting', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'time', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'up', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
<li><%= link_to 'down', 'https://www.flaticon.com/fr/icon-fonts-plus-telecharge?weight=regular&type=uicon', target: '_blank', class: 'btn-download' %></li>
</ul>
</div>
