<%= render 'shared/navbar' %>

<div class="profile-page-container">
  <div class="profile-card">
    <h2>My Profile</h2>
    <div class="profile-info">
      <p class="username">@<%= @user.username %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
    </div>
    <div class="profile-actions">
      <%= button_to "Edit Profile", edit_user_registration_path, method: :get, class: "btn-edit-profile" %>
      <%= form_with url: user_registration_path, method: :delete, class: "delete-account-form" do %>
  <%= submit_tag "Delete Account", data: { confirm: "Are you sure you want to delete your account?" }, class: "btn-delete-profile" %>
<% end %>

    </div>
  </div>

  <div class="favorites-card">
    <h2>My Favorites</h2>
  </div>

  <div class="points-card">
    <h2>Points</h2>
  </div>
</div>
