<%= render 'shared/navbar' %> 
<%= button_to root_path, method: :get, class: 'btn-home act' do %>
      <%= image_tag "arrowleft.png", alt: "arrow-left", class: "icone" %>
      Back to Home
    <% end %>
<div class="body-flex-login">
  <div class="container-input">
    <h2>Edit Profile</h2>
    <p class="text-title">Update your information below.</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="container-label">
        <p class="label">Email</p>
        <div class="field input-container">
           <%= image_tag "user.png", alt: "user", class: "icone-input" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="confirmation-pending">Waiting for confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="container-label">
        <p class="label">Password <span>(Leave blank if you don't want to change it)</span></p>
        <div class="field input-container">
           <%= image_tag "lock.png", alt: "lock", class: "icone-input" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Enter new password" %>
        </div>
      </div>

      <div class="container-label">
        <p class="label">Password Confirmation</p>
        <div class="field input-container">
           <%= image_tag "lock.png", alt: "lock", class: "icone-input" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password" %>
        </div>
      </div>

      <div class="container-label">
        <p class="label">Current Password</p>
        <div class="field input-container">
           <%= image_tag "lock.png", alt: "lock", class: "icone-input" %>
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Enter current password" %>
        </div>
      </div>

      <%= button_tag type: "submit", class: "btn-login" do %>
        <p class="label-btn">Update</p>
        <%= image_tag "arrowright.png", alt: "update", class: "arrow-btn-icon" %>
      <% end %>
    <% end %>

<p class="link-to-cancel">Unhappy?
  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "link-new" %>
</p>

