
<%= link_to 'Privacy Policy', privacy_policy_path, class: 'link-footer' %>
<%= link_to 'T&Cs', cgu_path, class: 'link-footer' %>
<%= link_to 'Contact', contact_path, class: 'link-footer' %>
<%= link_to 'About', cgu_path, class: 'link-footer' %>
<%= link_to 'FAQ', cgu_path, class: 'link-footer' %>
<p class="copyright-container">© 2024 The Voting Crypto. All rights reserved.</p>


