<%= javascript_include_tag 'navbarSearch' %>
<%= javascript_include_tag 'navbarProfil' %>
<%= javascript_include_tag 'notif' %>

<nav>
  <div class="logo-container">LOGO VOTING</div>
<div class="navbar-search">
  <div data-controller="search" class="search-section-nav">
    <div class="search-home-nav">
      <%= image_tag "search-icon.png", alt: "search-icone", class: "icon-search-nav" %>
      <%= text_field_tag :search, nil, id: "search-input", placeholder: "Bitcoin...", 
        data: { action: "input->search#search", target: "search.input" } %>
    </div>
    <div id="search-results" class="gradient-box nav-result" data-search-target="results"></div>
  </div>
</div>




  <div class="btn-notif act" role="button">
    <%= image_tag "notif.png", alt: "notif", class: "icone-notif" %>
  </div>

  <div class="notif-popup">
    <p>You don't have notifications!</p>
  </div>

  <div class="navbar-actions">
    <% if user_signed_in? %>
      <button id="profil-btn" class="act">
        
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, alt: "avatar", class: "user-icone" %>
      <% else %>
        <%= image_tag "memoji.png", alt: "user", class: "user-icone" %>
      <% end %>
      
        <p class="pseudouser-btn"><%= @user.username %></p>
      </button>
    <% else %>
      <%= button_to "Se connecter", new_user_session_path %>
      <%= button_to "S'inscrire", new_user_registration_path, method: :get %>
    <% end %>
  </div>
</nav>

<div id="profil">
  <div class="headerprofil">
    <div id="closeBtnProfil" class="btn-menu act" role="button">
      <%= image_tag "arrowright.png", alt: "arrow-right", class: "icone-arrow" %>
    </div>

    <div class="user">

      <% if user_signed_in? %>
        <% if @user.avatar.attached? && @user %>
          <%= image_tag @user.avatar, alt: "avatar", class: "user-icone" %>
        <% else %>
          <%= image_tag "memoji.png", alt: "user", class: "user-icone" %>
        <% end %>
      <% end %>

      <div class="infouser">
        <% if user_signed_in? %>
          <p class="pseudouser"><%= @user.username %></p>
        <% end %>
      </div>
    </div>

    <%= button_to profile_path(current_user), method: :get, data: { turbo: false }, class: 'btn-menu act' do %>
      <%= image_tag "profil.png", alt: "setting", class: "icone-nav" %>
    <% end %>

    <%= button_to destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'btn-menu act delog' do %>
      <%= image_tag "power.png", alt: "power", class: "icone-nav" %>
    <% end %>
  </div>
  <%= render 'shared/footer' %>
</div>
