 <%= javascript_include_tag 'chart' %>
<%= javascript_include_tag 'timechoice' %>
<%= javascript_include_tag "https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js", defer: true %>

<div class="container-body">
  <div class="chart-section">
    <p class="symbol" id="crypto-symbol"><%= @crypto[:symbol] %></p>
    
    <div role="button" id="btn-1m">
      <p>1m</p>
    </div>
    <div role="button" id="btn-15m">
      <p>15m</p>
    </div>
    <div role="button" id="btn-1h">
      <p>1h</p>
    </div>
    <div role="button" id="btn-4h">
      <p>4h</p>
    </div>

    <div role="button" id="btn-1d-main">
      <p id="time-label">1d</p>
      <div id="time-options">
        <button id="btn-6h">
          <p>6h</p>
        </button>
        <button id="btn-12h">
          <p>12h</p>
        </button>
        <button id="btn-1d">
          <p>1d</p>
        </button>
      </div>
    </div>

<div id="chart"></div>
</div>




  <div class="post-section">

    <div class="posts-container">
      <% @posts.each do |post| %>

        <!-- Post -->
        <div class="post-line">
          <%= post.user.username %>
          <%= post.content %>
          <% if post.user == current_user %>
            <%= button_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "btn-delete-post" %>
          <% end %>
        </div>

        <!-- Comments of the post -->
        <div class="comments-container">
          <% post.comments.each do |comment| %>
            <div class="comment-line">
              <%= comment.user.username %>
              <%= comment.content %>
              <% if comment.user == current_user %>
                <%= button_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure you want to delete this comment?" }, class: "btn-delete-comment" %>
              <% end %>
            </div>  
          <% end %> 
        </div>
         
        <!-- Form to add new comment -->
        <div class="new-comment">
          <%= form_with model: [post, Comment.new], local: true do |form| %>
            <%= form.text_field :content, placeholder: "Your comment...", class: "form-control" %>
            <%= form.submit "Create", class: "btn-primary-add" %>
          <% end %> 
        </div>
      
      <% end %>
    </div>
    
    <!-- Form to add a new post -->
    <div class="new-post">
      <%= form_with model: @post, url: crypto_posts_path(@crypto), local: true do |form| %>
        <%= form.text_field :content, placeholder: "Write a new post...", class: "form-control" %>
        <%= form.submit "Create", class: "btn-primary-add" %>
      <% end %>
    </div>

  </div>

</div>
