 <%= javascript_include_tag 'chart' %>
<%= javascript_include_tag 'timechoice' %>
<%= javascript_include_tag "https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js", defer: true %>

<div class="container-body">
  <div class="chart-section">
    <p class="symbol" id="crypto-symbol"><%= @crypto[:symbol] %></p>
    
    <div role="button" id="btn-1m">
      <p>1m</p>
    </div>
    <div role="button" id="btn-15m">
      <p>15m</p>
    </div>
    <div role="button" id="btn-1h">
      <p>1h</p>
    </div>
    <div role="button" id="btn-4h">
      <p>4h</p>
    </div>

    <div role="button" id="btn-1d-main">
      <p id="time-label">1d</p>
      <div id="time-options">
        <button id="btn-6h">
          <p>6h</p>
        </button>
        <button id="btn-12h">
          <p>12h</p>
        </button>
        <button id="btn-1d">
          <p>1d</p>
        </button>
      </div>
    </div>

<div id="chart"></div>
</div>




  <div class="post-section">

    <div class="posts-container">

      <% @posts.each do |post| %>

        <div class="post-line">
          <%= post.user.username %>
          <%= post.content %>
          <% if post.user == current_user %>
            <%= button_to "Supprimer", post_path(post), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet article ?" }, class: "btn-delete-post" %>
          <% end %>
        </div>

        <div class="comments-container">
          <% @comments.each do |comment| %>
          <div class="comment-line">
            <%= comment.user.username %>
            <%= comment.content %>
            <% if comment.user == current_user %>
              <%= button_to "Supprimer", comment_path(comment), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet article ?" }, class: "btn-delete-comment" %>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>
  

    <div class="add-post-container">
      <% if @post.errors.any? %>
      
      <div class="error-messages">
        <ul>
          <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
      
      <div class="new-post">
        <%= form_with model: @post, url: crypto_posts_path(@crypto), local: true do |form| %>
        <%= form.text_field :content, placeholder: "Écrire un nouveau post...", class: "form-control" %>
        <%= form.submit "Créer", class: "btn-primary-add" %>
        <% end %>
      </div>

    </div>

  </div>

</div>
